a {
    text-decoration: none;
}

body {
    font-family: sans-serif;  
    background-color:honeydew;
}

.headline {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}


.heading_main {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.section{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}

.subtitle{
    color: coral;
    font-size: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}

.main_image{
    border-radius: 10px;

}

.textbox {
	width: 200px;
	height: 30px;
	outline: none;
	border: 1px solid #ccc;
	border-radius: 15px;
	font-size: 14px;
	line-height: 30px;
}

.button {
    width: 100px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
