* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--ffffff, #000);
    font-family: Gilroy-SemiBold, sans-serif;
}

body {
    background: var(#FFF);
    font-family: Gilroy-Bold, sans-serif;
}

.header {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 500px;
}

.img {

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 14px;
}

.top_menu {
    width: 533px;
    height: 14px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_info {
    height: 538px;
    background: var(#FFF);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 41px;
    margin-top: 42px;
}

.h1 {
    width: 522px;
    height: 222px;
    padding-top: 2px;
    margin-bottom: 17px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.special_text {
    width: 466px;
    height: 48px;
    color: #888;
    font-family: Gilroy-Medium, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 37px;
}

.main_buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.button_1 {
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-family: Gilroy-Bold, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 15px 35px 16px 36px;
}

.button_2 {
    color: #AAA;
    font-family: Gilroy-Bold, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 15px;
    padding-bottom: 16px;
}

.main_image {
    width: 610.735px;
    height: 372.904px;
}

.sponsors {
    height: 243px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 48px;
}