* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
}

body {
    background: var(--020-a-18, #020A18);
    font-family: 'Open Sans', sans-serif;
}

.header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.top_info {
    margin-top: 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 128px;
}

.h4_class {
    margin-bottom: 10px;
    color: var(--3-a-68-b-8, #3A68B8);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
}

.h1_class {
    margin-bottom: 40px;
    width: 604px;
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
}

.p_class {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    width: 558px;
}

.top_buttons {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.top_button_span {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: var(--3-a-68-b-8, #3A68B8);
    border-radius: 5px;
    padding: 15px 30px;
    gap: 10px;
    display: flex;
    align-items: center;
}

.top_logo {
    margin-top: 197px;
    margin-bottom: 99px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 71px;
}